.backtohomepage {
    position: absolute;
    top: 24px;
    left: 24px;
    color: #fff748;
    font-size: 20px;
    text-decoration: underline;
}
.mainheading {
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252;
    margin: 0;
}
.Homepagesection{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}